<div class="container p-4">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">

                <div class="card-body">

                    <form action="/graficas/edit/{{grafica.ID}}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Tile" autofocus
                                value="{{grafica.NOMBRE}}">
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea name="super_descripcion" id="" rows="2" class="form-control"
                            placeholder="Description">{{grafica.SUPER_DESCRIPCION}}</textarea>

                        </div>
                        <br>
                        <div class="form-group">
                            <textarea name="descripcion" id="" rows="2" class="form-control"
                                placeholder="Description">{{grafica.DESCRIPCION}}</textarea>
                        </div>

                        <br>
                        <div class="form-group">
                            <button class="btn btn-success col-12">
                                Save
                            </button>
                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>