<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Twitter 360</title>
</head>
<body>

    <section>
        <article class="index-intro">
            <div class="container">
                <div class="jumpotron">
                    <div class="row">
                        <div class="col-sm-6">
                        <h1>Objetivo del Proyecto</h1>
                        <br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        </p>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>

                </div>
            </div>
        </article>




        <br>
        <article class="index-gallery"></article>
            <div class="container-fluid">
                <h2 style="text-align: center;">Gr치ficas Elaboradas</h2>
                <p style="text-align: center;">Tipos de gr치ficas elaboradas</p>
                <div class="row">
                    <div class="col-sm-4 center">
                        <h4>Grafica pie</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img1.jpg" alt="img1">

                    </div>
                    <div class="col-sm-4 center">
                        <h4>Grafica regresion</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img2.jpg" alt="img2">

                    </div>
                    <div class="col-sm-4 center">
                        <h4>Grafica histograma</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img3.jpg" alt="img3">                  
                    </div>

                </div>

            </div>
        </article>


    </section>
    <br>
    <br>
    <br>
    <br>

    <section>
    <article class="index-gallery"></article>
            <div class="container-fluid">
                <h2 style="text-align: center;">Gr치ficas Elaboradas</h2>
                <p style="text-align: center;">Tipos de gr치ficas elaboradas</p>
                <div class="row">
                    <div class="col-sm-4 center">
                        <h4>Grafica pie</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img1.jpg" alt="img1">

                    </div>
                    <div class="col-sm-4 center">
                        <h4>Grafica regresion</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img2.jpg" alt="img2">

                    </div>
                    <div class="col-sm-4 center">
                        <h4>Grafica histograma</h4>
                        <img class="img-responsive img-thumbnail" src="/img/img3.jpg" alt="img3">                  
                    </div>

                </div>

            </div>
        </article>

    </section>
    <br>
    <br>
    <br>
    <br>
    <footer class="bg-dark text-white py-4">
        <div class="container">
            <nav class="row">
                {{!-- Logo --}}
                <a href="" class="col-r text-reset text-uppercase d-flex align-items-center"></a>
                <i class="img-logo mr-2" src="/img/logos.jpg" alt="Logo Twt"></i>
                {{!-- Menu --}}
                <ul class="col-3 list-unstyled">
                    <li class="font-wight-bold text-uppercase">Recursos</li>

                    <li><a href="#" class="text-reset">Link1</a></li>
                    <li><a href="#" class="text-reset">Link2</a></li>
                    <li><a href="#" class="text-reset">Link3</a></li>

                </ul>
                {{!-- Menu --}}
                <ul class="col-3 list-unstyled">
                    <li class="font-wight-bold text-uppercase">Quick Links</li>

                    <li><a href="#" class="text-reset">Link1</a></li>
                    <li><a href="#" class="text-reset">Link2</a></li>
                    <li><a href="#" class="text-reset">Link3</a></li>

                </ul>
                {{!-- Redes --}}
                <ul class="col-3 list-unstyled">
                    <li class="font-wight-bold text-uppercase">Redes Sociales</li>

                    <li class="d-flex justify-content-between">
                        {{!-- Facebook --}}
                        <a href="#" class="text-reset">
                            <i class="fab fa-facebook"></i>
                        </a>
                        {{!-- Twitter --}}
                        <a href="#" class="text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {{!-- Instagram --}}
                        <a href="#" class="text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                        {{!-- Pinterest --}}
                        <a href="#" class="text-reset">
                            <i class="fab fa-whatsapp"></i>
                        </a>

                    </li>
                </ul>
            </nav>
        </div>

    </footer>


</body>
</html>